@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 8rem;
}

.menu{
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-left: 80px;
    width: 500px;
}

span, a{
    text-decoration: none;
    color: #00d75b;
}

a:hover{
    color: #136836;
    cursor: pointer;
}

.emailinput{
    display: grid;
    grid-template-columns: 20px 480px;
    align-items: center;
    width: 500px;
    height: 60px;
    font-size: 1.5rem;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #b6b6b6;
}

input{
    outline: none;
    margin-left: 60px;
    font-size: 1.25rem;
    border: none;
    font-family: 'Roboto', sans-serif;
}

button{
    font-size: 1.5rem;
    width: 500px;
    height: 60px;
    background-color: #00d75b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    filter: drop-shadow(0px 10px 14px #00d75b)
}

.foot{
    font-size: 1.25rem;
    color: #838383;
}

.footer{
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    color: #838383;
    gap: 10px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.img1{
    margin-top: 3rem;
    margin-bottom: -6rem;
    width: 60px;
    height: 60px;
}

svg{
    margin-left: 2rem;
}

.page{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.rightImage{
    background-image: url("foto.png");
    background-size: cover;
}

.leftSide{
    padding-right: 70px;
}